<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="br.com.pastaeriso.clientes.ClienteMapper">
	<resultMap id="clienteMap" type="Cliente">
		<id property="id" column="id" javaType="Integer"/>
		<result property="nome" column="nome" javaType="String"/>
    <collection property="contatos" ofType="Contato" column="cliente_id"
      javaType="ArrayList"
      select="br.com.pastaeriso.clientes.contatos.ContatoMapper.selectContatosByClienteId"/>
    <collection property="enderecos" ofType="Endereco" column="cliente_id"
      javaType="ArrayList"
      select="br.com.pastaeriso.clientes.enderecos.EnderecoMapper.selectEnderecosByClienteId"/>
	</resultMap>

	<select id="selectClienteById" resultMap="clienteMap" parameterType="Integer">
		select id,nome,id as cliente_id from clientes where id=#{id}
	</select>

</mapper>
