<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="br.com.pastaeriso.clientes.ClienteMapper">
	<resultMap id="clienteMap" type="Cliente">
		<id property="id" column="id" javaType="Integer"/>
		<result property="nome" column="nome" javaType="String"/>
    <association property="contatoPreferencial" column="contato_preferencial" javaType="Contato"
      select="br.com.pastaeriso.clientes.contatos.ContatoMapper.selectContatoById"/>
      <association property="enderecoPreferencial" column="endereco_preferencial" javaType="Endereco"
        select="br.com.pastaeriso.clientes.enderecos.EnderecoMapper.selectEnderecoById"/>
    <collection property="contatos" ofType="Contato" column="cliente_id"
      javaType="ArrayList"
      select="br.com.pastaeriso.clientes.contatos.ContatoMapper.selectContatosByClienteId"/>
    <collection property="enderecos" ofType="Endereco" column="cliente_id"
      javaType="ArrayList"
      select="br.com.pastaeriso.clientes.enderecos.EnderecoMapper.selectEnderecosByClienteId"/>
	</resultMap>

  <select id="selectClientes" resultMap="clienteMap">
    select c.id as id,c.nome as nome,c.id as cliente_id, cp.contato_preferencial as contato_preferencial, cp.endereco_preferencial as endereco_preferencial
    from clientes c
    join cliente_preferencias cp
    on c.id = cp.cliente_id
  </select>

	<select id="selectClienteById" resultMap="clienteMap" parameterType="Integer">
		select c.id,c.nome,c.id as cliente_id, cp.contato_preferencial as contato_preferencial, cp.endereco_preferencial as endereco_preferencial
    from clientes c
    join cliente_preferencias cp
    on c.id = cp.cliente_id
    where c.id=#{id}
	</select>

  <select id="selectClientePorNome" resultMap="clienteMap" parameterType="String">
		select c.id,c.nome,c.id as cliente_id, cp.contato_preferencial as contato_preferencial, cp.endereco_preferencial as endereco_preferencial
    from clientes c
    join cliente_preferencias cp
    on c.id = cp.cliente_id
    where c.nome=#{nome}
	</select>

  <select id="insertCliente" resultType="Integer" parameterType="String">
    INSERT INTO clientes (nome) values (#{nome}) returning id;
  </select>

  <insert id="insertClientePreferencias" parameterType="br.com.pastaeriso.clientes.ClientePreferencias">
    insert into cliente_preferencias (cliente_id,endereco_preferencial,contato_preferencial) values (#{clienteId},#{enderecoId},#{contatoId});
  </insert>

</mapper>
