<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="logImpl" value="LOG4J2"/>
  </settings>
  <typeAliases>
  	<typeAlias type="br.com.pastaeriso.pedidos.Pedido" alias="Pedido"/>
    <typeAlias type="br.com.pastaeriso.pedidos.pedidoItens.PedidoItem" alias="PedidoItem"/>
  	<typeAlias type="br.com.pastaeriso.clientes.Cliente" alias="Cliente"/>
  	<typeAlias type="br.com.pastaeriso.clientes.enderecos.Endereco" alias="Endereco"/>
  	<typeAlias type="br.com.pastaeriso.clientes.enderecos.TipoDeEndereco" alias="TipoDeEndereco"/>
    <typeAlias type="br.com.pastaeriso.pedidos.FormaDePagamento" alias="FormaDePagamento"/>
    <typeAlias type="br.com.pastaeriso.clientes.contatos.Contato" alias="Contato"/>
    <typeAlias type="br.com.pastaeriso.clientes.contatos.FormaDeContato" alias="FormaDeContato"/>
    <typeAlias type="br.com.pastaeriso.produtos.Produto" alias="Produto"/>
    <typeAlias type="br.com.pastaeriso.produtos.ProdutoPreco" alias="ProdutoPreco"/>
    <typeAlias type="br.com.pastaeriso.produtos.ProdutoInsumoQuantidade" alias="ProdutoInsumoQuantidade"/>
    <typeAlias type="br.com.pastaeriso.receitas.Receita" alias="Receita"/>
    <typeAlias type="br.com.pastaeriso.insumos.InsumoQuantidade" alias="InsumoQuantidade"/>
    <typeAlias type="br.com.pastaeriso.insumos.Insumo" alias="Insumo"/>
    <typeAlias type="br.com.pastaeriso.insumos.unidades.Unidade" alias="Unidade"/>
  </typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://192.168.0.150:5432/pastaeriso"/>
        <property name="username" value="lucasgueiros"/>
        <property name="password" value="123456"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="br/com/pastaeriso/pedidos/PedidoMapper.xml"/>
    <mapper resource="br/com/pastaeriso/pedidos/pedidoItens/PedidoItemMapper.xml"/>
    <mapper resource="br/com/pastaeriso/clientes/ClienteMapper.xml"/>
  	<mapper resource="br/com/pastaeriso/clientes/enderecos/EnderecoMapper.xml"/>
    <mapper resource="br/com/pastaeriso/clientes/contatos/ContatoMapper.xml"/>
    <mapper resource="br/com/pastaeriso/produtos/ProdutoMapper.xml"/>
    <mapper resource="br/com/pastaeriso/receitas/MapperReceita.xml"/>
    <mapper resource="br/com/pastaeriso/insumos/unidades/MapperUnidade.xml"/>
    <mapper resource="br/com/pastaeriso/insumos/MapperInsumo.xml"/>
  </mappers>
</configuration>
