<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties>
    <property name="username" value=""/>
    <property name="password" value=""/>
    <property name="url" value=""/>
  </properties>
  <typeAliases>
	   <typeAlias type="br.com.pastaeriso.pedidos.Pedido" alias="Pedido"/>
  </typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="org.postgresql.Driver"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="br/com/pastaeriso/pedidos/PedidoMapper.xml"/>
  </mappers>
</configuration>
