<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="br.com.pastaeriso.pedidos.pedidoItens.PedidoItemMapper">
  <resultMap id="PedidoItemMap" type="PedidoItem">
    <id property="id" column="pedido_itens_id" javaType="Integer"/>
    <result property="quantidade" column="quantidade" javaType="java.math.BigDecimal"/>
    <result property="comentarios" column="comentarios" javaType="String" />
    <association property="produto" column="produto_id" javaType="Produto"
      select="br.com.pastaeriso.produtos.ProdutoMapper.selectProdutoById"/>
  </resultMap>

  <select id="selectPedidoItensByPedidoId" resultMap="PedidoItemMap"
    parameterType="Integer">
    select pedido_itens_id, quantidade, comentarios,  produto_id
    from pedido_itens
    where pedido_id = #{pedidoId}
  </select>

</mapper>
