<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="br.com.pastaeriso.pedidos.PedidoMapper">
  <resultMap id="formaDePagamentoMap" type="FormaDePagamento">
    <id column="forma_id" property="id" javaType="Integer" />
    <result column="forma" property="forma" javaType="String"/>
  </resultMap>
	<resultMap id="pedidoMap" type="Pedido">
		<id property="id" column="id" javaType="Integer" />
		<result property="trocoPara" column="troco_para"
      javaType="java.math.BigDecimal"/>
		<result column="datahora_entrega" property="datahoraEntrega"
      javaType="java.time.LocalDateTime"/>
    <result column="datahora_feito" property="datahoraFeito"
      javaType="java.time.LocalDateTime"/>
    <result column="comentarios" property="comentarios"
      javaType="String"/>
		<association property="cliente" column="cliente_id" javaType="Cliente"
      select="br.com.pastaeriso.clientes.ClienteMapper.selectClienteById"/>
    <association property="enderecoEntrega" column="endereco_entrega"
      javaType="Endereco" select="br.com.pastaeriso.clientes.enderecos.EnderecoMapper.selectEnderecoById"/>
    <association property="formaDePagamento" column="forma_de_pagamento"
      javaType="FormaDePagamento" select="selectFormaDePagamentoById"/>
    <collection property="itens" column="id" ofType="PedidoItem" javaType="ArrayList"
      select="br.com.pastaeriso.pedidos.pedidoItens.PedidoItemMapper.selectPedidoItensByPedidoId"/>
	</resultMap>

  <select id="selectFormaDePagamentoById" resultMap="formaDePagamentoMap" parameterType="Integer">
    select id as forma_id,forma from formas_de_pagamento where id=#{id}
  </select>

  <select id="selectFormasDePagamento" resultMap="formaDePagamentoMap">
    select id as forma_id,forma from formas_de_pagamento
  </select>

  <select id="selectFormaDePagamentoPorForma" resultMap="formaDePagamentoMap" parameterType="String">
    select id as forma_id,forma from formas_de_pagamento where forma=#{forma}
  </select>

  <select id="insertFormaDePagamento" resultType="Integer" parameterType="String">
    insert into formas_de_pagamento (forma) values (#{forma}) returning id
  </select>

	<select id="selectPedidos" resultMap="pedidoMap">
		select id,cliente_id,troco_para,datahora_entrega,datahora_feito,endereco_entrega,forma_de_pagamento,comentarios from pedidos order by datahora_entrega
	</select>

  <select id="selectPedidosPorData" resultMap="pedidoMap" parameterType="java.time.LocalDate">
    select id,cliente_id,troco_para,datahora_entrega,datahora_feito,endereco_entrega,forma_de_pagamento,comentarios
    from pedidos where datahora_entrega::date=#{data} order by id
  </select>

  <select id="selectPedidoPorId" resultMap="pedidoMap" parameterType="Integer">
    select id,cliente_id,troco_para,datahora_entrega,datahora_feito,endereco_entrega,forma_de_pagamento,comentarios
    from pedidos where id=#{id}
  </select>

  <select id="insertPedido" parameterType="Pedido" resultType="Integer">
    insert into pedidos (cliente_id,troco_para,datahora_entrega,datahora_feito,endereco_entrega,forma_de_pagamento,comentarios)
    values (#{cliente.id},#{trocoPara},#{datahoraEntrega},#{datahoraFeito},#{enderecoEntrega.id},#{formaDePagamento.id},#{comentarios})
    returning id
  </select>

  <insert id="insertPedidoItens" parameterType="Pedido">
    insert into pedido_itens (pedido_id,produto_id,quantidade,comentarios) values
    <foreach item="item" index="index" collection="itens" separator=",">
      (#{id},#{item.produto.id},#{item.quantidade},#{item.comentarios})
    </foreach>
  </insert>

</mapper>
