<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="br.com.pastaeriso.pedidos.PedidoMapper">
	<resultMap id="pedidoMap" type="Pedido">
		<id property="id" column="id" javaType="Integer" />
		<result property="trocoPara" column="troco_para" javaType="java.math.BigDecimal"/>
		<result column="horario_entrega" property="horarioEntrega" javaType="java.time.LocalDateTime"/>
		<association property="cliente" column="cliente_id" javaType="Cliente" select="br.com.pastaeriso.clientes.ClienteMapper.selectClienteById"/>
	</resultMap>

	<select id="selectPedidos" resultMap="pedidoMap">
		select id,cliente_id,troco_para,horario_entrega from pedidos order by horario_entrega
	</select>
	
</mapper>