<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="br.com.pastaeriso.produtos.ProdutoMapper">

  <resultMap id="ProdutoPrecoMap" type="ProdutoPreco">
    <id property="id" column="id" javaType="Integer"/>
    <result property="preco" column="preco" javaType="java.math.BigDecimal"/>
    <result property="data" column="data" javaType="java.time.LocalDate"/>
  </resultMap>

  <resultMap id="ProdutoMap" type="Produto">
    <id property="id" column="id" javaType="Integer"/>
    <result property="nome" column="nome" javaType="String"/>
    <result property="data" column="data" javaType="java.time.LocalDate"/>
    <result column="descricao" property="descricao" javaType="String"/>
    <result column="comentarios" property="comentarios" javaType="String"/>
    <collection property="precos" javaType="ArrayList"
      ofType="ProdutoPreco" column="id"
      select="selectProdutoPrecosByProdutoId"/>
  </resultMap>

  <select id="selectProdutoPrecosByProdutoId" resultMap="ProdutoPrecoMap"
    parameterType="Integer">
    select id, preco from produto_precos where produto_id = #{id}
  </select>

  <select id="selectProdutoById" resultMap="ProdutoMap" parameterType="Integer">
    select  id, nome, data, descricao, comentarios from produtos where id = #{id}
  </select>

  <select id="selectProdutos" resultMap="ProdutoMap" >
    select  id, nome, data, descricao, comentarios from produtos
  </select>
</mapper>
