<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="br.com.pastaeriso.clientes.contatos.ContatoMapper">
  <resultMap id="formaDeContatoMap" type="FormaDeContato">
    <id property="id" column="id" javaType="Integer"/>
    <result property="forma" column="forma" javaType="String"/>
  </resultMap>

  <resultMap id="contatoMapper" type="Contato">
    <id column="id" property="id" javaType="Integer"/>
    <result property="contato" column="contato" javaType="String"/>
    <result property="nome" column="nome" javaType="String"/>
    <association property="forma" column="forma_de_contato"
      javaType="FormaDeContato" select="selectFormaDeContatoById"/>
  </resultMap>

  <select id="selectFormaDeContatoById" resultMap="formaDeContatoMap" parameterType="Integer">
    select id,forma from formas_de_contato where id=#{id}
  </select>

  <select id="selectFormaDeContatoPorForma" resultMap="formaDeContatoMap" parameterType="String">
    select id,forma from formas_de_contato where forma=#{forma}
  </select>

  <select id="selectContatosByClienteId" resultMap="contatoMapper" parameterType="Integer">
    select id, forma_de_contato, contato,nome from cliente_contatos
    where cliente_id = #{cliente_id}
  </select>

  <select id="selectContatoById" resultMap="contatoMapper" parameterType="Integer">
    select id, forma_de_contato, contato,nome from cliente_contatos
    where id = #{id}
  </select>

  <select id="insertContato" resultType="Integer" parameterType="hashmap">
    insert into cliente_contatos (cliente_id,nome,contato,forma_de_contato) values (#{cliente_id},#{nome},#{contato},#{forma}) returning id
  </select>

</mapper>
